@import "var";
@import "rec";
@import "header";

body {
    background: $body-background;
    font-family: FZLTXIHJW--GB1-0, "hiragino sans gb", "Helvetica Neue", Helvetica, STHeiTi, Arial;
  } 
* {
-webkit-tap-highlight-color: rgba(255, 255, 255, 0)
}